<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dragalia Stat Calculator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script src="lib/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128073712-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128073712-1');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div id="app" class="ui center aligned container" style="padding: 1em;">
        <h1 class="ui header">Dragalia Stat Calculator</h1>
        <div>
            <div class="ui hidden divider"></div>
            <div class="ui one header">{{selectedAventurer.Name}} : {{selectedAventurer.Title}}</div>
            <div class="ui two mini statistics">
                <div class="blue statistic">
                    <div class="value">
                        {{hpValue}}
                    </div>
                    <div class="label">
                        HP
                    </div>
                </div>
                <div class="red statistic">
                    <div class="value">
                        {{strValue}}
                    </div>
                    <div class="label">
                        STR
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui hidden divider"></div>
            <p>Currently this only calculate the maximum hp/str. Future updates will included adjustable levels.</p>
            <div class="ui grid">
                <div class="ui form eight wide column">
                    <div class="ui header">Character</div>
                    <div class="field">
                        <label style="text-align: left;">Character Name</label>
                        <select v-model="selectedAventurer">
                            <option v-for="adventurer in all_adventurers" :value="adventurer">{{adventurer.Name}} : {{adventurer.Title}}</option>
                        </select>
                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Weapon</div>
                    <div class="field">
                        <label style="text-align: left;">Weapon Name</label>
                        <select v-model="selectedWeapon">
                            <option v-for="weapon in filteredWeapons" :value="weapon">{{weapon.Name}}</option>
                        </select>

                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Wyrmprint</div>
                    <div class="field">
                        <label style="text-align: left;">Wyrmprint Name</label>
                        <select v-model="selectedWyrmprint">
                            <option v-for="wyrmprint in all_wyrmprints" :value="wyrmprint">{{wyrmprint.Name}}</option>
                        </select>

                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Dragon</div>
                    <div class="field">
                        <label style="text-align: left;">Dragon Name</label>
                        <select v-model="selectedDragon">
                            <option v-for="dragon in all_dragons" :value="dragon">{{dragon.Name}} | HP {{dragon.ability.boostedHP}} | STR {{dragon.ability.boostedSTR}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui divider"></div>
            <div class="ui hidden divider"></div>
            <p>If you liked this project you can check out other of my Dragalia Lost projects here:</p>
            <button class="ui button"><a href="https://yujinred.github.io/Dragalia-Weapon-Material-Calculator/">Dragalia
                    Weapon Material Calculator</a></button>
            <button class="ui button"><a href="https://yujinred.github.io/dragalia-tier-list/">Dragalia Tier List</a></button>

        </div>
</body>

<script src="data/adventurerData.js"></script>
<script src="data/weaponData.js"></script>
<script src="data/wyrmprintData.js"></script>
<script src="data/dragonData.js"></script>
<script src="data/abilityData.js"></script>
<script src="util.js"></script>
<script>
    adventurers.forEach(adventurer => {
        adventurer.MinHp3 = parseInt(adventurer.MinHp3);
        adventurer.MinHp4 = parseInt(adventurer.MinHp4);
        adventurer.MinHp5 = parseInt(adventurer.MinHp5);
        adventurer.MaxHp = parseInt(adventurer.MaxHp);
        adventurer.PlusHp0 = parseInt(adventurer.PlusHp0);
        adventurer.PlusHp1 = parseInt(adventurer.PlusHp1);
        adventurer.PlusHp2 = parseInt(adventurer.PlusHp2);
        adventurer.PlusHp3 = parseInt(adventurer.PlusHp3);
        adventurer.PlusHp4 = parseInt(adventurer.PlusHp4);
        adventurer.McFullBonusHp5 = parseInt(adventurer.McFullBonusHp5);
        adventurer.MinAtk3 = parseInt(adventurer.MinAtk3);
        adventurer.MinAtk4 = parseInt(adventurer.MinAtk4);
        adventurer.MinAtk5 = parseInt(adventurer.MinAtk5);
        adventurer.MaxAtk = parseInt(adventurer.MaxAtk);
        adventurer.PlusAtk0 = parseInt(adventurer.PlusAtk0);
        adventurer.PlusAtk1 = parseInt(adventurer.PlusAtk1);
        adventurer.PlusAtk2 = parseInt(adventurer.PlusAtk2);
        adventurer.PlusAtk3 = parseInt(adventurer.PlusAtk3);
        adventurer.PlusAtk4 = parseInt(adventurer.PlusAtk4);
        adventurer.McFullBonusAtk5 = parseInt(adventurer.McFullBonusAtk5);
    });
    weapons.forEach(weapon => {
        weapon.MaxHp = parseInt(weapon.MaxHp);
        weapon.MaxAtk = parseInt(weapon.MaxAtk);
    });
    wyrmprints.forEach(wyrmprint => {
        wyrmprint.MaxHp = parseInt(wyrmprint.MaxHp);
        wyrmprint.MaxAtk = parseInt(wyrmprint.MaxAtk);
    });
    abilities.forEach(ability => {
        ability.boostedHP = parseHPBoostFromSkill(ability);
        ability.boostedSTR = parseSTRBoostFromSkill(ability);
    });
    dragons.forEach(dragon => {
        dragon.MaxHp = parseInt(dragon.MaxHp);
        dragon.MaxAtk = parseInt(dragon.MaxAtk);
        
        dragon.ability = abilities.filter(ability => ability.Id === dragon.Abilities11)[0];
    });
   

    henlo();

    new Vue({
        el: '#app',
        data: {
            all_adventurers: adventurers,
            all_weapons: weapons,
            all_wyrmprints: wyrmprints,
            all_dragons: dragons,
            all_abilities: abilities,
            selectedAventurer: adventurers[0],
            selectedWeapon: null,
            selectedWyrmprint: null,
            selectedDragon: null
        },
        computed: {
            hpValue: function () {
                var hpTotal = 0;
                var totalAdventurerHP = 0;
                if (this.selectedAventurer != null) {
                    totalAdventurerHP = this.selectedAventurer.MaxHp +
                    this.selectedAventurer.PlusHp0 +
                    this.selectedAventurer.PlusHp1 +
                    this.selectedAventurer.PlusHp2 +
                    this.selectedAventurer.PlusHp3 +
                    this.selectedAventurer.PlusHp4 +
                    this.selectedAventurer.McFullBonusHp5;
                }
                hpTotal += totalAdventurerHP;
                hpTotal += this.selectedWeapon != null ? this.selectedWeapon.MaxHp * 
                (this.selectedWeapon.ElementalType === this.selectedAventurer.ElementalType ? 1.5 : 1)
                : 0;
                hpTotal += this.selectedWyrmprint != null ? this.selectedWyrmprint.MaxHp : 0;
                hpTotal += this.selectedDragon != null ? this.selectedDragon.MaxHp : 0;
                if (this.selectedDragon != null && this.selectedDragon.ElementalType === this.selectedAventurer.ElementalType) {
                    hpTotal *= (1 + this.selectedDragon.ability.boostedHP/100);
                }
                return hpTotal;
            },
            strValue: function () {
                var strTotal = 0;

                var totalAdventurerSTR = 0;
                if (this.selectedAventurer != null) {
                    totalAdventurerSTR = this.selectedAventurer.MaxAtk +
                    this.selectedAventurer.PlusAtk0 +
                    this.selectedAventurer.PlusAtk1 +
                    this.selectedAventurer.PlusAtk2 +
                    this.selectedAventurer.PlusAtk3 +
                    this.selectedAventurer.PlusAtk4 +
                    this.selectedAventurer.McFullBonusAtk5;
                }
                strTotal += totalAdventurerSTR;
                strTotal += this.selectedWeapon != null ? this.selectedWeapon.MaxAtk *
                (this.selectedWeapon.ElementalType === this.selectedAventurer.ElementalType ? 1.5 : 1)
                : 0;
                strTotal += this.selectedWyrmprint != null ? this.selectedWyrmprint.MaxAtk : 0;
                strTotal += this.selectedDragon != null ? this.selectedDragon.MaxAtk : 0;
                if (this.selectedDragon != null && this.selectedDragon.ElementalType === this.selectedAventurer.ElementalType) {
                    strTotal *= (1 + this.selectedDragon.ability.boostedSTR/100);
                }
                return strTotal;
            },
            filteredWeapons: function () {
                return this.all_weapons.filter(weapon => weapon.Type === this.selectedAventurer.WeaponType);
            }
        }
    })
</script>

</html>