<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dragalia Stat Calculator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script src="lib/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128073712-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128073712-1');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div id="app" class="ui center aligned container" style="padding: 1em;">
        <h1 class="ui header">Dragalia Stat Calculator</h1>
        <div>
            <img src="resources/characters/100002_01_r05.png" height="160px" width="160px" alt="">
            <img src="resources/weapons/305043_01_59901.png" height="100px" width="100px" alt="">
            <img src="resources/wyrmprints/400087_02.png" height="100px" width="100px" alt="">
            <img src="resources/dragons/210017_01.png" height="100px" width="100px" alt="">

            <div class="ui one header">Elisanne : Anointed Lance</div>
            <div class="ui two mini statistics">
                <div class="blue statistic">
                    <div class="value">
                        {{hpValue}}
                    </div>
                    <div class="label">
                        HP
                    </div>
                </div>
                <div class="red statistic">
                    <div class="value">
                        {{strValue}}
                    </div>
                    <div class="label">
                        STR
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui hidden divider"></div>
            <p>Currently this only calculate the maximum hp/str. Future updates will included adjustable levels.</p>
            <div class="ui grid">
                <div class="ui form eight wide column">
                    <div class="ui header">Character</div>
                    <div class="field">
                        <label style="text-align: left;">Character Name</label>
                        <select v-model="selectedAventurer">
                            <option v-for="adventurer in all_adventurers" :value="adventurer">{{adventurer.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Weapon</div>
                    <div class="field">
                        <label style="text-align: left;">Weapon Name</label>
                        <select v-model="selectedWeapon">
                            <option v-for="weapon in all_weapons" :value="weapon">{{weapon.Name}}</option>
                        </select>

                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Wyrmprint</div>
                    <div class="field">
                        <label style="text-align: left;">Wyrmprint Name</label>
                        <select>
                            <option v-for="wyrmprint in all_wyrmprints" :value="wyrmprint">{{wyrmprint.Name}}</option>
                        </select>

                    </div>
                </div>
                <div class="ui form eight wide column">
                    <div class="ui header">Dragon</div>
                    <div class="field">
                        <label style="text-align: left;">Dragon Name</label>
                        <select>
                            <option v-for="dragon in all_dragons">{{dragon.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
</body>

<script src="data/adventurerData.js"></script>
<script src="data/weaponData.js"></script>
<script src="data/wyrmprintData.js"></script>
<script src="data/dragonData.js"></script>
<script>
    adventurers.forEach(adventurer => {
        adventurer.MinHp3 = parseInt(adventurer.MinHp3);
        adventurer.MinHp4 = parseInt(adventurer.MinHp4);
        adventurer.MinHp5 = parseInt(adventurer.MinHp5);
        adventurer.MaxHp = parseInt(adventurer.MaxHp);
        adventurer.PlusHp0 = parseInt(adventurer.PlusHp0);
        adventurer.PlusHp1 = parseInt(adventurer.PlusHp1);
        adventurer.PlusHp2 = parseInt(adventurer.PlusHp2);
        adventurer.PlusHp3 = parseInt(adventurer.PlusHp3);
        adventurer.PlusHp4 = parseInt(adventurer.PlusHp4);
        adventurer.McFullBonusHp5 = parseInt(adventurer.McFullBonusHp5);
        adventurer.MinAtk3 = parseInt(adventurer.MinAtk3);
        adventurer.MinAtk4 = parseInt(adventurer.MinAtk4);
        adventurer.MinAtk5 = parseInt(adventurer.MinAtk5);
        adventurer.MaxAtk = parseInt(adventurer.MaxAtk);
        adventurer.PlusAtk0 = parseInt(adventurer.PlusAtk0);
        adventurer.PlusAtk1 = parseInt(adventurer.PlusAtk1);
        adventurer.PlusAtk2 = parseInt(adventurer.PlusAtk2);
        adventurer.PlusAtk3 = parseInt(adventurer.PlusAtk3);
        adventurer.PlusAtk4 = parseInt(adventurer.PlusAtk4);
        adventurer.McFullBonusAtk5 = parseInt(adventurer.McFullBonusAtk5);
    });
    new Vue({
        el: '#app',
        data: {
            all_adventurers: adventurers,
            all_weapons: weapons,
            all_wyrmprints: wyrmprints,
            all_dragons: dragons,
            selectedAventurer: null,
            selectedWeapon: null,
            selectedWyrmprint: null,
            selectedDragon: null
        },
        computed: {
            hpValue: function () {
                var hpTotal = 0;
                hpTotal += this.selectedAventurer != null ?
                    this.selectedAventurer.MaxHp +
                    this.selectedAventurer.PlusHp0 +
                    this.selectedAventurer.PlusHp1 +
                    this.selectedAventurer.PlusHp2 +
                    this.selectedAventurer.PlusHp3 +
                    this.selectedAventurer.PlusHp4 +
                    this.selectedAventurer.McFullBonusHp5
                    : 0;
                hpTotal += parseInt(this.selectedWeapon != null ? this.selectedWeapon.MaxHp : 0);
                return hpTotal;
            },
            strValue: function () {
                var strTotal = 0;
                strTotal += this.selectedAventurer != null ?
                    this.selectedAventurer.MaxAtk +
                    this.selectedAventurer.PlusAtk0 +
                    this.selectedAventurer.PlusAtk1 +
                    this.selectedAventurer.PlusAtk2 +
                    this.selectedAventurer.PlusAtk3 +
                    this.selectedAventurer.PlusAtk4 +
                    this.selectedAventurer.McFullBonusAtk5
                    : 0;
                strTotal += parseInt(this.selectedWeapon != null ? this.selectedWeapon.MaxAtk : 0);
                return strTotal;
            }
        }
    })
</script>

</html>